*~
/data
/build
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.caffemodel
*.caffemodel.h5
*.pyc
*.out
*.zip
/tasks/R2R/data/*.json
/tasks/R2R/data/*_vocab.txt
/tasks/R2R/plots/
/tasks/R2R/results/
/tasks/R2R/snapshots/

# intellij
.idea/
*.iml

img_features
tasks/R2R/speaker/

